<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
     <h2>User info</h2>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
       <%= form_with model: @user,url:user_path(@user),method: :patch, local: true do |f| %>
       <%#↑ここがおかしい？%>
        <div class="form my-3">
         <label for="inputName">Name</label></br>
         <%= f.text_field :name, autofocus: true, id:"inputName", :class=>"w-100" %>
        </div>
        <div class="form my-3">
         <label for="inputImage">Image</label></br>
         <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
        <div class="form my-3">
         <label for="inputName">Introduction</label></br>
         <%= f.text_area :introduction, autofocus: true, :class=>"w-100" %>
        </div>
         <%= f.submit "Update user", :class=>"btn btn-secondary" %>
       <% end %>
    </div>
   </div>
  </div>
