<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
     <h2>User info</h2>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <form>
       <%= form_with model: @user do |f| %>
        <div class="form my-3 w-75">
         <label for="inputName">Name</label></br>
         <%= f.text_field :name, autofocus: true, id:"inputName" %>
        </div>
        <div class="form my-3">
         <label for="inputImage">Image</label></br>
         <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
        <div class="form my-3">
         <label for="inputName">Introduction</label></br>
         <%= f.text_area :body, autofocus: true %>
        </div>
         <%= f.submit "Update user" %>
       <% end %>
     </form>
    </div>
   </div>
  </div>
