
<div class= "container">
  <div class= "row">
   <div class= "col-md-3">
    
    <h2>User info</h2>
     <%= image_tag @user.get_profile_image(100,100) %>
      <table class= "table">
       <tr>
        <th>name</th>
        <th><%= @user.name %></th>
       </tr>
       <tr>
        <th>introduction</th>
        <th><%= @user.introduction %></th>
       </tr>
      </table>

     <% if @user == current_user %>
       <%= link_to edit_user_path(@user), :class=>"btn btn-outline-secondary w-100 my-3" do %>
        <i class="fas fa-user-cog"></i></button>
       <% end %>
     <% end %>
     
     
    <h2>New book</h2>
     <% if @book.errors.any? %>
      <%= @book.errors.count %>errors prohibited this book from being saved:
       <ul>
         <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
         <% end %>
       </ul>
     <% end %>
      
     <%= form_with model:@book do |f| %>
       <label for="title">Tiltle</label></br>
        <%= f.text_field :title %></br>
       <label for="body">Opinion</label></br>
        <%= f.text_area :body %></br>
        <%= f.submit "Create Book", :class=>"btn btn-success" %>
     <% end %>
   </div>
     

   


  <div class= "col-md-8 offset-md-1">
   <h2>Users</h2>
    <table class= "table">
     <thead>
      <tr>
       <th>image</th>
       <th>name</th>
       <th></th>
      </tr>
    </thead>
   <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image(80,80) %></td>
      <td><%= user.name %></td>
      <td><%= link_to "Show",user_path(user.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
