
  <h2>User info</h2>
    <%= image_tag user.get_profile_image(100,100) %>
     <table class= "table">
       <tr>
        <th>name</th>
        <th><%= user.name %></th>
       </tr>
       <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
       </tr>
      </table>

      <% if user.name != "guestuser" %>
        <%= link_to edit_user_path(user), :class=>"btn btn-outline-secondary w-100 my-3" do %>
         <i class="fas fa-user-cog"></i>
        <% end %>
      <% end %>


  <h2>New book</h2>
    <%= form_with model:book do |f| %>
      <label for="title">Tiltle</label></br>
        <%= f.text_field :title %></br>
      <label for="body">Opinion</label></br>
        <%= f.text_area :body %></br>
        <%= f.submit "Create Book", :class=>"btn btn-success" %>
     <% end %>

