<h1>Editing Book</h1>
<%= form_with model: @book do |f| %>
  <label for="title">Tiltle</label>
  <%= f.text_field :title, autofocus: true %>
  <label for="body">Opinion</label>
  <%= f.text_area :body, autofocus: true %>
  <%= f.submit "Update book" %>
<% end %>
<%= link_to "Show",book_path(@book.id) %><span>|</span>
<%= link_to "Back",books_path(@book.id) %>