   <h1>Editing Book</h1>
    <%= form_with model: @book do |f| %>
    <label for="title mb-3">Tiltle</label></br>
    <%= f.text_field :title, autofocus: true %></br>
    <label for="body mt-3">Opinion</label></br>
    <%= f.text_area :body, autofocus: true %></br>
    <%= f.submit "Update book" %></br>
   <% end %>
  <%= link_to "Show",book_path(@book.id) %><span>|</span>
  <%= link_to "Back",books_path(@book.id) %>
